body {
  background: url('Images/image\ \(1\).png') center center/cover no-repeat;
position: relative;
}
.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.dec-container {
  background-color: rgba(0, 0, 0, 0.651);
  position: relative;
  color: white;
  padding: 25px;
  padding-left: 80px;
  padding-right: 84px;
  margin-right: 83%;
  width: 15%;
  top: 65%;
}
.dec-container a {
  color: white;
  text-decoration: none;
}
.clean {
  color: #A8C634;
}
.dec-container a:hover {
  color: #A8C634;
}
.dec-container i {
  margin-left: 5%;
}
.number{
  font-size: 45px;
  color:#A8C634; 
}
.number9 {
  font-size: 45px;
  color:#A8C634;
  position: relative;
  left: 30%;
}
.comb-container {
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  position: relative;
  padding: 15%;
  height: 70%;
  width: 125%;
  left: 246%;
  top: 33%;
  text-align: center;
}
.launched {
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
  height: 25%;
  width: 18%;
  padding: 2%;
  position: relative;
  top: 10%;
  left: 39%;
}
.proj-louch{
  position: relative;
  bottom:12%
}
.token{
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  height: 27%;
  width: 31%;
  padding: 1.3%;
  position: relative;
  top: 9.5%;
  right: 33.8%;
}
.num{
  color: #348DCF;
  position: relative;
  left: 20%;
}
.mpowa{
  position: relative;
  left: 20%;
  text-decoration: none;
}
.val{
  position: relative;
  left: 20%;
  text-decoration: none;
}
.heroes {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  position: relative;
  height: 25%;
  width: 30%;
  padding: 1%;
  top: -19.5%;
  left: -1%;
}
.number2 {
  font-size: 45px;
  position: relative;
  height: 20%;
  bottom: 19%;
  left: 20%;
}
.hero{
  position: relative;
  top:-28%;
  left: 20%;

}
.who{
  position: relative;
  top: -32%;
  text-decoration: none;
  left: 20%;

}
.potential-container {
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  height: 17%;
  width: 29%;
  padding: 3%;
  position: relative;
  top: -48.5%;
  left: 32.5%;
}
.image3{
  position: relative;
  bottom: 49%;
  right: 25%;
 

}
.image4{
  position: relative;
  bottom:117.5%;
  left: 25.2%;
}
.how-it{
  background-color: rgba(0, 0, 0, 0.678);
  position: relative;
  text-align: center;
  color: white;
  bottom: 50%;
  padding: 4%;
  padding-right: 6%;

}
.proj-new{
  background-color: rgba(0, 0, 0, 0.678);
  position: relative;
  text-align: center;
  color: white;
  bottom: 50%;
  padding: 4%;
  padding-right: 6%;
}
@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .comb-container {
    width: 100%;
  }
}
